body{
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 2%;
  }

  .card > img {
      width: 500px;
      height: auto;
  }